/* login register*/

.card_login {
    background-color: lightslategray!important;
    color: white;
}
.card_login a {
    color:white;
}
.card_register {
    background-color: lightslategray!important;
    color: white;
}
.card_register a {
    color:white;
}
.card_login a:hover {
    color:white;
}
.iti__selected-dial-code{
    color: black;
}

/* user type */

.type_edit_wrap {
    background-color:lightgrey;
    padding:3% 2%;
    border-radius:5px
}

trix-editor {
    background-color:white
}
@media only screen and (min-width: 768px) {
    #fb_login {
        float: right;
    }
}

/* phone input plugin, intl tel input */
.iti{
    width: 100%;
}

.d-block{
    display:block;
}

/* datatable  */

.dataTables_wrapper{
    min-height: 400px;
}

td.details-control {
    background: url('/img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('/img/details_close.png') no-repeat center center;
}



/* cuz card */
.customize_card_outer {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}
.customize_card_wrapper {
    width:45%;
    height:auto;
    min-height:150px;
    background-color:rgb(255, 255, 255);
    box-shadow: 1px 1px 6px 2px grey;
    border-radius:15px;
    margin: 10px;
    display: flex;
}
.customize_card_wrapper_shadowbox_blue{
    width:45%;
    height:auto;
    min-height:150px;
    background-color:rgb(255, 255, 255);
    border-radius:15px;
    margin: 10px;
    display: flex;
    box-shadow: 1px 1px 6px 2px blue;
}

.customize_card_left {
    width:40%;
    height:100%;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    background-color: rgb(230, 230, 230);
}
.customize_card_left img {
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}

.customize_card_right {
    width: 60%;
    height: 100%;
}
.customize_card_right span {
    /* font-family: "Brush Script MT", cursive; */
}
.customize_card_right .v_title {
    border-radius:5px;
    color:white;
    text-align:center;
    padding:5px
}
.customize_card_right .status_success {
    background-color: green;
    padding: 0 5px;
    border-radius: 5px;
    color: white;
    align-self: center;
}
.customize_card_right .status_inactive {
    background-color: darkorange;
    padding: 0 5px;
    border-radius: 5px;
    color:white;
    align-self: center;
}
.customize_card_right_content {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customize_card_content {
    border-radius:5px;
    background: rgb(255 255 255 / 70%);
    padding:2%;
}

/* 768px */
@media only screen and (max-width: 768px) {
    .customize_card_wrapper {
       width: 100%;
    }
    .customize_card_wrapper_shadowbox_blue{
        width: 100%;
    }
    .btn_getv {
        font-size: 0.8em;
    }
    .history_content{
        min-width: 50px !important;
    }
    .dashboard_total_text{
        flex-direction: row;
        justify-content: center;
    }
}

/* tab */
/* .customize_card_outer a {
    background: #fd264f;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
} */

.customize_card_outer button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.customize_card_outer .tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}

.customize_card_outer .tabs [class^="tab"] label,
.customize_card_outer .tabs [class*=" tab"] label {
    color: black;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center;
}

.customize_card_outer .tabs [class^="tab"] [type="radio"],
.customize_card_outer .tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.customize_card_outer .tabs [class^="tab"] [type="radio"]:hover,
.customize_card_outer .tabs [class^="tab"] [type="radio"]:focus,
.customize_card_outer .tabs [class*=" tab"] [type="radio"]:hover,
.customize_card_outer .tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #222e3c;
}
.customize_card_outer .tabs [class^="tab"] [type="radio"]:checked,
.customize_card_outer .tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #222e3c;
}
.customize_card_outer .tabs [class^="tab"] [type="radio"]:checked + div,
.customize_card_outer .tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}
.customize_card_outer .tabs [class^="tab"] [type="radio"] + div,
.customize_card_outer .tabs [class*=" tab"] [type="radio"] + div {
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.customize_card_outer .tabs .tab-2 {
    width: 50%;
}
.customize_card_outer .tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%;
}
.customize_card_outer .tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0;
}
.customize_card_outer .tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%;
}
.customize_card_outer .tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%;
}
.tabs_container_customize {
    flex-wrap: wrap;
    display: flex;
    min-width: 50%;
    margin: auto;
}


/* tabssssss */
.tabs_container {
    width: 100%;
}
.tabs_container .tab-wrap {
    transition: 0.3s box-shadow ease;
    border-radius: 6px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    margin: 40px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tabs_container .tab-wrap:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}
.tabs_container .tab {
    display: none;
}
.tabs_container .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tabs_container .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tabs_container .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tabs_container .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tabs_container .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tabs_container .tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.tabs_container .tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
}
.tabs_container .tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tabs_container .tab:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
}
.tabs_container .tab:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: #fff;
}
.tabs_container .tab + label {
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
}
.tabs_container .tab + label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tabs_container .tab__content {
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 6px;
}
/* boring stuff */
.tabs_container body {
    font-family: 'Helvetica', sans-serif;
    background-color: #e7e7e7;
    color: #777;
    padding: 30px 0;
    font-weight: 300;
}
.tabs_container .container {
    margin: 0 auto;
    display: block;
}
.tabs_container .container > *:not(.tab-wrap) {
    padding: 0 80px;
}
.tabs_container h1, h2 {
    margin: 0;
    color: #444;
    text-align: center;
    font-weight: 400;
}
.tabs_container h2 {
    font-size: 1em;
    margin-bottom: 30px;
}
.tabs_container h3 {
    font-weight: 400;
}
.tabs_container p {
    line-height: 1.6;
    margin-bottom: 20px;
}
/* card detail */

.customize_card_outer_detail{
    flex-wrap: wrap;
    display: flex;
    min-width: 50%;
    margin: auto;
    width: fit-content;
}
.card_detail {
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 2px #747474;
    text-align: center;
}
.card_detail_blue {
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 2px blue;
    text-align: center;
}

.backg {
    background: no-repeat;
    background-position: center;
    background-size:contain;
    padding: 5vh;
}

.cd_text {
    background-color: #222e3c;
    padding: 3vh;
    margin: 5vh;
    font-weight: bold;
    color: white;
    font-size: x-large;
}



/* history */

.customize_card_outer_history {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.customize_card_outer_history .customize_card_right{
    height:auto;
}
.history_content {
    background-color: #222e3c;
    color: white;
    width: auto;
    min-width: 500px;
    margin: 1vh;
    padding: 2vh;
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
}
.customize_card_outer_history .customize_card_left {
    width:40%;
    height:auto;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    background-color: rgb(230, 230, 230);
}

.customize_card_left_history{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

/* paginate */
.paginate_customize{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

/* chart */

.chartWrapper {
    position: relative;

}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}
.chartAreaWrapperOuter1,.chartAreaWrapperOuter2,.chartAreaWrapperOuter3,.chartAreaWrapperOuter4,.chartAreaWrapperOuter5 {
  overflow-x: scroll;
    position: relative;
    width: 100%;
}

.chartAreaWrapperInner1, .chartAreaWrapperInner2, .chartAreaWrapperInner3, .chartAreaWrapperInner4, .chartAreaWrapperInner5 {

    position: relative;
    height: 300px;
}

.dashboard_total_text{
    display:flex;
    flex-direction: row-reverse;
    margin: 1em 0;
}